.container {
	padding-left: 60px;
	padding-right: 60px;
}


nav {
  position: fixed;
  height: 60px;
  background-color: grey;
  width: 100%;
}

nav .logo {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  border-radius: 50%;
  border: 1px black solid;
  vertical-align: middle;
}

nav ul {
	display: inline-block;
}


nav li {

	display: inline-block;
	position: relative;
	right: 10px;
}

  nav li + li:before{
    content: " | ";  
}


main {
	padding-top: 100px;
	min-width: 1000px;
}

body {
  background: url(../images/outerspace_landscape.jpeg) no-repeat;
  background-size: cover;
}

.box {
	margin-top: 150px;
	border: 10px dotted green;
	width: 600px;
	height: 300px;
	position: relative;
  	margin-left: auto;
  	margin-right: auto;
}

.spacecat, .spacedog {
	position: absolute;
	width: 200px;
}

.spacecat {
  top: -90px;
  left: -90px;
}

.spacedog {
  bottom: -120px;
  right: -60px;
}










